body {
    margin: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --rk-header-background: #e3ffd5;
}
/* Dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --rk-header-background: #1a2e10;
    }
}
/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --rk-header-background: #1a2e10;
}

body > header {
    width: 100%;

    position: sticky;
    top: 0;
    background: var(--rk-header-background);

    .container {
        display: flex;
    }

    .logo {
        height: 50px;
    }

    .cart {
        margin-left: auto;
    }
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 0.7vw;
    flex: 1;
    font-size: 0.8em;
}

main {
    flex: 1;
    margin: 0 auto;
}

.introduction {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    ul {
        list-style: none;
    }
}

footer {
    background: var(--rk-header-background);

    ul {
        display: flex;
        justify-content: center;
        padding: 0;
        li {
            padding-right: 10px;
        }
    }
}

.products-grid {
    a {
        text-decoration: none;
        --pico-color: var(--pico-h2-color);
    }
    figure {
        border-radius: var(--pico-border-radius);
        overflow: hidden;
    }

    footer {
        display: flex;
        justify-content: space-between;
        .current-count {
            text-align: center;
        }
        form {
            max-width: 150px;
            border-radius: 1000px;
            overflow: hidden;
            border: 1px solid var(--pico-primary);
            button,
            span {
                padding: 5px 0;
            }
        }
    }
}

dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 0;
    dt {
        font-weight: bold;
        text-align: left;
    }
    dd {
        text-align: left;
    }
}
