html {
    scroll-behavior: smooth;
}

:root {
    --reko-color: var(--sl-color-green-300);
    --max-page-width: 1280px;

    --sl-color-primary-50: var(--sl-color-emerald-50) !important;
    --sl-color-primary-100: var(--sl-color-emerald-100) !important;
    --sl-color-primary-200: var(--sl-color-emerald-200) !important;
    --sl-color-primary-300: var(--sl-color-emerald-300) !important;
    --sl-color-primary-400: var(--sl-color-emerald-400) !important;
    --sl-color-primary-500: var(--sl-color-emerald-500) !important;
    --sl-color-primary-600: var(--sl-color-emerald-600) !important;
    --sl-color-primary-700: var(--sl-color-emerald-700) !important;
    --sl-color-primary-800: var(--sl-color-emerald-800) !important;
    --sl-color-primary-900: var(--sl-color-emerald-900) !important;
    --sl-color-primary-950: var(--sl-color-emerald-950) !important;

    --sl-color-neutral-50: rgb(249 249 250) !important;
    --sl-color-neutral-100: rgb(234 237 238) !important;
    --sl-color-neutral-200: rgb(219 223 225) !important;
    --sl-color-neutral-300: rgb(201 207 212) !important;
    --sl-color-neutral-400: rgb(179 187 193) !important;
    --sl-color-neutral-500: rgb(150 161 170) !important;
    --sl-color-neutral-600: rgb(119 134 145) !important;
    --sl-color-neutral-700: rgb(93 110 123) !important;
    --sl-color-neutral-800: rgb(71 92 106) !important;
    --sl-color-neutral-900: rgb(42 66 82) !important;
    --sl-color-neutral-950: rgb(25 41 52) !important;
}

body {
    background: var(--sl-color-neutral-0);
    font-family: var(--sl-font-sans);
    margin: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a {
    color: var(--sl-color-primary-700);
    text-decoration: none;
}

h1 {
    font-size: var(--sl-font-size-3x-large);
}
h2 {
    font-size: var(--sl-font-size-2x-large);
}
h2 {
    font-size: var(--sl-font-size-x-large);
}

h1,
h2,
h3,
p {
    color: var(--sl-color-neutral-950);
}

header {
    width: 100%;
    background-color: var(--reko-color);

    position: sticky;
    top: 0;
    background: var(--sl-color-primary-50);
    box-shadow: var(--sl-shadow-medium);
    z-index: 1; /* Without this, sl-buttons appear above it when being sticky */

    .content {
        margin: 0 auto;
        padding: var(--sl-spacing-small);
        max-width: var(--max-page-width);
        display: flex;
    }

    .logo {
        height: var(--sl-spacing-large);
    }

    .cart {
        margin-left: auto;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: var(--sl-spacing-small);
    flex: 1;
    max-width: 100vw;
}

main {
    flex: 1;
    margin: 0 auto;
    padding: 0 var(--sl-spacing-small);
    max-width: var(--max-page-width);
}

.introduction {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    ul {
        list-style: none;
    }
}

footer {
    margin-top: var(--sl-spacing-x-large);

    ul {
        display: flex;
        justify-content: center;
        padding: 0;
        li {
            margin-right: var(--sl-spacing-medium);
        }
    }
}

sl-card.product {
    --padding: var(--sl-spacing-x-small);
    img {
        width: 100%;
        height: 100%;
    }

    .name-and-price {
        h3 {
            margin: 0;
        }
        display: flex;
        justify-content: space-between;
    }

    .description {
        color: var(--sl-color-neutral-700);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: var(--sl-font-size-small);
    }

    sl-button.buy {
        width: 100%;
    }
}
