# Make it possible to connect via psql
export PGHOST=$PWD/.dev-postgres
export PGDATABASE=reko

# Tell Django about the database
export DATABASE_URL=postgres:///$PGDATABASE?host=$PGHOST

dotenv_if_exists

# Activate the virtualenv automatically. Respect UV_PROJECT_ENVIRONMENT from .env if it exists.
PATH_add "${UV_PROJECT_ENVIRONMENT:-.venv}/bin"

# Make local utils available on path
PATH_add bin

export DJANGO_RUNSERVER_HIDE_WARNING=true
