# This is the place for any dynamic variable declarations (e.g. PATH modifications).
# This file is read by direnv (https://direnv.net/) and uses BASH syntax.
# However, changes made to the environment are shell-agnostic.

# Modify PATH to make project-specific executables available in your shell.
PATH_add bin
PATH_add node_modules/.bin

# Simulate `poetry shell` without spawning a new sub-shell
PATH_add .venv/bin
export PYENV_VERSION=3.9.6
export POETRY_VIRTUALENVS_IN_PROJECT=true
export POETRY_ACTIVE=1
export VIRTUAL_ENV=$PWD/.venv
export DJANGO_SETTINGS_MODULE=reko.settings.dev

# Load .env file if it exsts
if [ -e .env ]; then
    dotenv
fi
