dotenv_if_exists

# Activate the virtualenv automatically. Respect UV_PROJECT_ENVIRONMENT from .env if it exists.
PATH_add "${UV_PROJECT_ENVIRONMENT:-.venv}/bin"

# Make local utils available on path
PATH_add bin

export DJANGO_RUNSERVER_HIDE_WARNING=true
