{
	email hej@handlareko.se
}

handlareko.se {
	reverse_proxy app:8000

	handle_path /static/* {
		root * /srv/static
		file_server
	}

	handle_path /media/* {
		root * /srv/media
		file_server
	}

	redir /info /info/

	handle_path /info/* {
		root * /srv/docs
		file_server
	}
}
