{
	email hej@handlareko.se
}

handlareko.se {
	route /static/* {
		uri strip_prefix /static
		file_server {
			root /srv/static
		}
	}

	route /media/* {
		uri strip_prefix /media
		file_server {
			root /srv/media
		}
	}

	route /dokumentation* {
		uri strip_prefix /dokumentation
		file_server {
			root /srv/docs
			index index.html
		}
	}

	reverse_proxy app:8000
}
