{% load static %}
<!DOCTYPE html>
<html lang="sv" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
        <meta name="description" content="Reko Linköping - Handla närproducerad mat">

        <title>{% block title %}{% endblock %} - Reko Linköping</title>
    
        <link href="{% static "main.css" %}" rel="stylesheet">
        <script src="{% static "main.js" %}"></script>
    </head>
    <body class="d-flex flex-column h-100">

        <main class="flex-shrink-0">
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        </main>


        <footer id="cart" class="mt-auto py-3">
            <div class="container">
                -
            </div>
        </footer>

    </body>
</html>