<h1>Välkommen till handlareko.se!</h1>

<p>En REKO-ring är ett sätt att sälja närproducerad mat helt utan mellanhänder. I din lokala REKO-ring handlar du råvaror och produkter direkt från producenten.</p>

<p>handlareko.se är en webbtjänst där producenter kan lägga upp sina varor och där konsumenter kan handla direkt av producenten.</p>

<h2>För dig som handlar</h2>
<p>handlareko.se underlättar för dig som handlar på REKO-ringar.</p>
<ul>
    <li>Du kan enkelt se de varor som en producent säljer. Priset räknas ut direkt.</li>
    <li>Bara du själv och producenten ser vad du har beställt.</li>
    <li>Du får ett mejl med en tydlig sammanställning över dina beställda varor.</li>
    <li>Inget konto krävs - allt du behöver ange är namn, mejladress och mobilnummer.</li>
</ul>
<p>
    Varje producent på handlareko.se får sin egen länk.
    Du kan testa hur det funkar via vår demoproducent: <a href="/demo">Östergården</a>.
</p>
<p><b>Använder inte dina favoritproducenter handlareko.se? Tipsa dem om att sälja sina varor här!</b></p>

<h2>För dig som producent</h2>
<p>handlareko.se minskar administrationen med att ta emot beställningar till REKO-utlämningar.</p>
<ul>
    <li>Du minskar manuell administration och uträkning av priser.</li>
    <li>Beställningar tas emot på ett strukturerat sätt utan att du måste följa många Facebook-kommentarer.</li>
    <li>Du lägger upp dina varor och ett valfritt lagersaldo. När en vara är slut kan den inte längre beställas. Du kan när som helst dölja en vara om den är slut.</li>
    <li>Du får en tydlig lista över beställningar och belopp.</li>
    <li>(Kommande) du kan enkelt exportera underlag till bokföring.</li>
    <li>(Kommande) Skicka ut automatiska påminnelser för att undvika no-shows.</li>
    <li>Det kostar ingenting! handlareko.se är ingen mellanhand. Betalningen sker direkt mellan kunden och dig som producent. handlareko.se drivs ideelt. Läs mer på Om oss-sidan.</li>
</ul>
<p><b>Är du producent och vill sälja genom handlareko.se? Hör av dig till oss på <a href="mailto:hej@handlareko.se">hej@handlareko.se</a> så hjälper vi dig igång!</b></p>

<h2>För dig som är admin för en REKO-ring</h2>
<ul>
    <li>Lägg upp kommande utlämningar med tid/plats.</li>
    <li>(Kommande) Få automatiskt en lista över de producenter som har anmält sig till en kommande utlämning.</li>
    <li>(Kommande) påminnelse</li>
    <li>Gratis! Det kostar inget</li>
</ul>
<p><b>Vill du göra det möjligt för producenter i din ring att använd handlareko.se? Hör av dig till oss på <a href="mailto:hej@handlareko.se">hej@handlareko.se</a>!</b></p>

