<div class="card">
  <img src="{{ seller.image.url }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ seller.name }}</h5>
    <p class="card-text">{{ seller.description }}</p>

    <ul class="list-unstyled">
      {% for product in seller.product_set.all %}
      <li class="media my-4">
        <img
          class="mr-3"
          src="{{ product.image.url }}"
          width="96"
          height="96"
        />
        <div class="media-body product-form">

          <form class="product-form">
            <h5>{{ product.name }}</h5>
            {{ product.description|linebreaks }}
            <input type="hidden" name="productId" value="{{ product.id }}"/>
            <input type="hidden" name="sellerId" value="{{ seller.id }}"/>
            <label>Antal <input type="number" placeholder="Antal" name="amount" value="1"></label>
            <button class="btn btn-primary">Lägg till</button>
          </form>

        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
