/* Hide add/edit/delete actions for product foreign key in OrderProductInline */
/* Hide add/edit/delete actions for location foreign key in PickupLocationInline */
.field-product, .field-location {
    .add-related,
    .change-related,
    .delete-related,
    .view-related {
        display: none !important;
    }
}
